---
---

@import "bootstrap";

// vars
$red: #DF5A49;
$orange: #E27A3F;
$yellow: #EFC94C;
$grey: #f5f5f5;
$black: #333;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: $red;
}

header {
    position: relative;
    display: block;
    width: 100%;
    min-height: 75px;
    background: $black;

    @media only screen and (min-width : $screen-sm-min) {
        display: flex;
        align-items: baseline;
    }
}

.list-group-item-heading {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
}

.logo {
    padding: 10px 15px;
    font-size: 36px;
    letter-spacing: 1px;
    color: $orange;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;

    &:hover, &:active {
        color: $orange;
        text-decoration: none;
    }
}

.motto {
    color: wheat;
    font-family: 'Catamaran', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 15px 15px;
    margin: 0;

    @media only screen and (min-width : $screen-sm-min) {
        padding: 0;
    }
}

.well {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    background-color: $black;
}

.btn-primary {
    background-color: $red;
    border-color: $red;

    &:hover, &:active:focus {
        background-color: darken($red, 5%);
        border-color: darken($red, 5%);
    }
}

.map {
    height: 100%;
    width: 100%;

    @media only screen and (min-width : $screen-sm-min) {
        width: 70%;
    }
}

.detail-info {
    float: left;
    width: 100%;
    padding: 0 15px 0 15px;

    h1 {
        font-family: 'Catamaran', sans-serif;
        font-weight: 600;
    }

    .rating-container {
        margin-bottom: 10px;
    }

    @media only screen and (min-width : $screen-sm-min) {
        width: 50%;
    }
}

.detail-map {
    width: 100%;
    height: 50%;

    @media only screen and (min-width : $screen-sm-min) {
        width: 50%;
    }
}

.list-group {
    float: left;
    width: 100%;

    .list-group-item {
        cursor: pointer;
        border-radius: 0;

        &.active {
            background-color: $orange;
            border-color: $orange;
        }
    }

    @media only screen and (min-width : $screen-sm-min) {
        width: 30%;
        height: 100%;
        overflow-y: scroll;
    }
}

.rating-container {
    display: flex;
    align-items: center;

    .rating-number {
        padding-right: 7px;
        font-size: 16px;
        font-weight: bold;
        color: $yellow;
    }

    .rating-stars {
        position: relative;
        width: 100px;
        height: 20px;

        svg {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            fill: #fff;

            .list-group-item:hover & {
                fill: $grey;
            }

            .list-group-item.active & {
                fill: $orange;
            }
        }

        meter {
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ddd;

            &::-webkit-meter-bar {
                background: none;
                background: #ddd;
            }

            &::-moz-meter-bar {
                background: $yellow;
            }

            &::-webkit-meter-optimum-value,
            &::-webkit-meter-suboptimum-value,
            &::-webkit-meter-even-less-good-value {
                background: $yellow;
            }
        }
    }
}

.open-now {
    color: green;
}

.review-author {
    margin-bottom: 5px;
}

.review-text {
    margin-bottom: 20px;
}
