---
---

@import "bootstrap";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map {
    height: 100%;
}

.list-group {
    float: left;
    overflow-y: scroll;
    width: 30%;
    height: 100%;

    .list-group-item {
        cursor: pointer;
    }
}
