---
---

@import "bootstrap";

// vars
$red: #DF5A49;
$orange: #E27A3F;
$yellow: #EFC94C;
$grey: #f5f5f5;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    min-height: 75px;
    background: #333;
}

.logo {
    float: left;
    padding: 10px 15px;
    font-size: 36px;
    letter-spacing: 1px;
    color: $orange;
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;

    &:hover, &:active {
        color: $orange;
        text-decoration: none;
    }
}

.motto {
    float: left;
    color: wheat;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
}

.map {
    height: 100%;
    width: 100%;

    @media only screen and (min-width : $screen-sm-min) {
        width: 70%;
    }
}

.detail-map {
    width: 40%;
    height: 50%;
}

.list-group {
    float: left;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

    .list-group-item {
        cursor: pointer;
        border-radius: 0;

        &.active {
            background-color: $orange;
            border-color: $orange;
        }
    }

    @media only screen and (min-width : $screen-sm-min) {
        width: 30%;
    }
}

.rating-container {
    display: flex;
    align-items: center;

    .rating-number {
        padding-right: 7px;
        font-size: 16px;
        font-weight: bold;
        color: $yellow;
    }

    .rating-stars {
        position: relative;
        width: 100px;
        height: 20px;

        svg {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            fill: #fff;

            .list-group-item:hover & {
                fill: $grey;
            }

            .list-group-item.active & {
                fill: $orange;
            }
        }

        meter {
            appearance: none;
            -webkit-appearance: none;
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #ddd;

            &::-webkit-meter-bar {
                background: none;
                background: #ddd;
            }

            &::-moz-meter-bar {
                background: $yellow;
            }

            &::-webkit-meter-optimum-value,
            &::-webkit-meter-suboptimum-value,
            &::-webkit-meter-even-less-good-value {
                background: $yellow;
            }
        }
    }
}
