<!-- jQuery Version 2.2.1 -->
<script src="{{site.baseurl}}/js/jquery-2.2.1.min.js"></script>

<!-- lodash Version 4.12.0 -->
<script src="{{site.baseurl}}/js/lodash.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>

<script src="{{site.baseurl}}/js/handlebars.min.js"></script>

<!-- google maps api -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPIYm71sqblJlxth5QRqERG2XY8bQilxI&libraries=places&callback=mapModule.init" async defer></script>

{% if page.custom_js %}
    {% for js_file in page.custom_js %}
        <script src="{{site.baseurl}}/js/{{ js_file }}.js"></script>
    {% endfor %}
{% endif %}
